@import url('https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
ul li a {
    color: black;
}

.nav-item {
    color: black;
    padding: 2px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.logo {
    margin: 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 100%;
    justify-content: center;
}
.nav-tabs {
    width: 100%;
    margin: 0 auto;
}

.nav-tabs .selected .nav-link.active {
    /*background-color: rgba(210, 169, 89, 0.5);*/
    border-radius: 0px 0px 0px 0px;
    border: none;
    border-bottom: 3px solid rgba(210, 169, 89, 0.5);
    border-top: 3px solid rgba(210, 169, 89, 0.5);
}

.nav {
    border: none;
}

.tab-content img {
    margin: 0;
    width: 100%;
    height: auto;
}

.tab-content {
    margin-top: 60px;
    position: relative;
}

.logo .btn {
    /*position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, 200%);*/
    // -ms-transform: translate(-50%, -50%);
    background-color: rgb(216, 197, 175);
    color: #2f2f2f;
    font-size: 1.8vw;
    height: auto;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .logo .btn {
        padding: 6px 12px;
    }
}

@media (max-width: 360px) {
    .logo .btn {
        display: none;
    }
    #mobile-btn {
        display: block;
    }
}

@media (min-width: 361px) {
    .logo .btn {
        display: block;
    }
    #mobile-btn {
        display: none;
    }
}

.btn {
    color: rgba(210, 169, 89, 0.5);
    height: 60px;
}

@media only screen and (max-width: 700px) {
    .nav-tabs .selected .nav-link.active {
        background-color: rgba(210, 169, 89, 0.5);
    }
}

#home {
    position: relative;
    .btn {
        // position: absolute;
        // top: 48%;
        // left: 48%;
        background: #2f2f2f;
    }
}
